* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


.addTask,ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addTask > textarea{
    width: 500px;
    height: 150px;
    margin-bottom: 10px;
}

.addTask > button {
    width: 200px;
    font-size: 20px;
    margin-bottom: 35px;
}

button {
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

.todo{
    display: block;
    margin: 12px 0;
    width: 300px;
    padding: 16px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    word-break: break-word;    
}

header {
    text-align: center;
    font-size: 24px;
    line-height: 40px;
  }
